## Эвристические графовые алгоритмы - Алгоритм
выделения связных компонент
Эвристические графовые алгоритмы - Алгоритм
кратчайшего незамкнутого пути

## Статистические алгоритмы - Метод k-средних(k-mean)

In [32]:
import pandas as pd
import numpy as np
dataC1 = pd.read_csv("vocab.kos.txt")
dataC2 = pd.read_csv("docword.kos.txt")
dataN1 = pd.read_csv("vocab.nips.txt")
dataN2 = pd.read_csv("docword.nips.txt")

In [23]:
dataC1.head()

         aarp
0     abandon
1   abandoned
2  abandoning
3         abb
4         abc

In [25]:
dataC2.head()

     3430
0    6906
1  353160
2  1 61 2
3  1 76 1
4  1 89 1

In [24]:
dataN1.head()

       a2i
0      aaa
1     aaai
2     aapo
3      aat
4  aazhang

In [26]:
dataN2.head()

     1500
0   12419
1  746316
2   1 2 1
3  1 39 1
4  1 42 3

In [36]:
np.vstack((dataC2, dataN2))

array([['6906'],
       ['353160'],
       ['1 61 2'],
       ...,
       ['1500 12390 1'],
       ['1500 12393 1'],
       ['1500 12414 1']], dtype=object)

In [35]:
np.vstack((dataC1, dataN1))

array([['abandon'],
       ['abandoned'],
       ['abandoning'],
       ...,
       ['zur'],
       ['zurich'],
       ['zwislocki']], dtype=object)

In [37]:
from sklearn.preprocessing import Standardscaler
import numpy as np

#X = df.values(:,1:)
X = np.nan_to_num(x)

Clus_dataset = Standardscaler().fit_transform(x)
Clus_dataset

SyntaxError: invalid syntax (<ipython-input-37-783774413195>, line 4)

In [ ]:
from sklearn.cluster import KMeans
clusterNum = 3

k_means = KMeans(init = "k-means++", n_clusters = clusterNum, n_init = 12)
k_means.fit(x)

labels = k_means.labels_

print(labels)

In [ ]:
data2["Clus_km"] = labels
data2.head(5)

In [ ]:
data2.groupby('lus_km').mean()

In [ ]:
import matplotlib.pyplot as plt

area = mp.pi * ( X{t, 1])**2
plt.scatter(x[:, 0], X[:, 3]
plt.xlabel('', fontsize = 18)
plt.ylabel('', fontsiz)

type(np. float), alpha=0.5)
 
plt.show()

In [41]:
from mpl_toolkits.mplot3d import Axes30

fig = plt.figure(1, figsize=(8, 6))

plt.clf()

ax = Axes3D(fig, rect=[0, 0, .95, 1], elev=48, azim=134)

ax.set_xlabel('a2i')
ax.set_ylabel('1500')
#ax.set_zlabel('')

 

ax.scatter(X[:, 1], X[t, 0], X[t, 3], c= lebels.astype(np.float))

ImportError: cannot import name 'animation' from partially initialized module 'matplotlib' (most likely due to a circular import) (d:\Users\Natalia\anaconda3\lib\site-packages\matplotlib\__init__.py)

## Иерархическая кластеризация

In [11]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import numpy as np

ImportError: cannot import name 'animation' from partially initialized module 'matplotlib' (most likely due to a circular import) (d:\Users\Natalia\anaconda3\lib\site-packages\matplotlib\__init__.py)

In [12]:
data1 = pd.read_csv("vocab.kos.txt")
data2 = pd.read_csv("docword.kos.txt")

In [13]:
data1.shape

(6905, 1)

In [14]:
data2.shape

(353162, 1)

In [15]:
data1.head()

         aarp
0     abandon
1   abandoned
2  abandoning
3         abb
4         abc

In [16]:
data2.head()

     3430
0    6906
1  353160
2  1 61 2
3  1 76 1
4  1 89 1

In [17]:
data11 = data1.iloc[:, 3:5].values

In [ ]:
import scipy.cluster.hierarchy as shc

plt.figure(figsize=(10, 7))
plt.title("Dendograms")
dend = shc.dendrogram(shc.linkage(data11, method='ward'))

In [ ]:
from sklearn.cluster import AgglomerativeClustering

cluster = AgglomerativeClustering(n_clusters=5, affinity='euclidean', linkage='ward')
cluster.fit_predict(data11)

In [ ]:
plt.figure(figsize=(10, 7))
plt.scatter(data11[:,0], data11[:,1], c=cluster.labels_, cmap='rainbow')

In [ ]:
# test

In [23]:
# Импортируем библиотеки
from scipy.cluster.hierarchy import linkage, dendrogram
import matplotlib.pyplot as plt
import pandas as pd

In [26]:
# Создаем датафрейм
seeds_df = pd.read_csv(
"https://archive.ics.uci.edu/ml/machine-learning-databases/bag-of-words/")

In [27]:
# Исключаем информацию об образцах зерна, сохраняем для дальнейшего использования
varieties = list(seeds_df.pop('grain_variety'))

KeyError: 'grain_variety'

In [ ]:
# Извлекаем измерения как массив NumPy
samples = seeds_df.values

In [ ]:
# Реализация иерархической кластеризации при помощи функции linkage
mergings = linkage(samples, method='complete')

In [ ]:
# Строим дендрограмму, указав параметры удобные для отображения
dendrogram(mergings,
           labels=varieties,
           leaf_rotation=90,
           leaf_font_size=6,
           )

plt.show()